/.Xauthority
/.cache
/.conda
/.config
/.copilot
/.dotnet
/.ipython
/.java
/.lesshst
/.local
/.python_history
/.root_hist
/.ssh
/.venv
/.viminfo
/.vscode-server
/.wget-hsts
/.zcompdump
/.zsh_history
/.zshrc
/PHY451
/analysis
/codes.venv/
__pycache__/
*.pyc
